
body{
	overflow-y: scroll;
	overflow-x: hidden;
}

.ui.grid{
	width: 70%;
	
}
.ui.raised.segment, .ui.raised.segments´{
	margin-top: 10%;
}
.ui.button>.icon{
	color: #fff;
}
.ui.orange.segment:not(.inverted){
	border-top: 2px solid #FBB03B;
	margin-top: 5%;
}
.ui.orange.button, .ui.orange.buttons .button{
	background-color: #FBB03B;
	margin: 10px;
}
.ui.label:last-child{
	background-color: transparent;
}
.ui.orange.segment:not(.inverted){
	height: 32%;
}
.ui.yellow.segment:not(.inverted){
	height: 28%;
}

.ui.floated.image, .ui.floated.images{
	margin-left: 10px;
}
.ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row{
	margin-left: 15%;
}