#contenido{
	/*background: green;*/
	margin: 0 5% 0 5%;
	height: 600px;
}

#generos{
	/*background:blue;*/
	margin-left: 10%;
	margin-right: 10%;
}

.elemento_genero{
	background: gray;
	margin: 1%;
	display: inline-flex;
	width: 15em;
	height: 13em;
	border-radius: 3px;
	vertical-align: middle;
	/*background-image: url(../media/images/Logos/PNG/logo.png);*/
	background-size: 10em 10em;
	background-repeat: no-repeat;
	background-position: center center;
}

.elemento_genero h3{
	color: #000;
	text-align: center;
	margin-top: 0;
}


.imagen{
	margin-top: 10%;
	margin-left: 20%;
}

.elemento_genero:hover{
	background: #fff;
}

.elemento_genero p{
	text-align: center;
}

.cancion{
	display: inline;
	padding: 1%;
	margin-top: 1%;
	width: 60%;
	background: #AFAFAF;
}
.cancion2{
	display: block;
	padding: 1%;
	margin-top: 1%;
	margin-left: 25%;
	width: 60%;
	background: #AFAFAF;
}

audio{
	margin-top: 2%;
}
#title{
    margin-left: 35%;
}
