
body{
	background: url("../media/images/Login/concierto-live.jpg")no-repeat fixed center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	top: 0;
	margin: 0;
	overflow: hidden;
}

.ui.header{
	color: #000;
}

.ui.inverted.orange.button:hover, .ui.inverted.orange.buttons .button:hover{
	background-color: #FBB03B;
}

.ui.orange.segment:not(.inverted){
	top: 5%;
	left: 35%;
	position: absolute;
	padding: 1%;
	width: 25%;
	background-color: #fff;
	opacity: 0.92;
	border-top: 5px solid #FBB03B;
}
.error{
	color: #FF0000;
}
.ui.corner.label .icon{
	color: red;
}

#icon{
	margin-left: 47%;
	margin-top: 30.6%;
	position: fixed;
}
.ui.inverted.orange.button, .ui.inverted.orange.buttons .button {
	background-color: transparent;
	box-shadow: 0 0 0 2px #ff851b inset!important;
	margin-left: -45%;
}
@media screen and (max-width:1920px ) {
	#icon{
		margin-left: 48%;
		margin-top: 28.4%;
		position: fixed
	}
	.ui.inverted.orange.button, .ui.inverted.orange.buttons .button {
	background-color: transparent;
	box-shadow: 0 0 0 2px #ff851b inset!important;
	margin-left: 0;
}
}