body{
	overflow-y: scroll;
	overflow-x: hidden;
}

.recuadro{
	width: 70%;
	margin-left: 15%;
	margin-top: 10%;

background-color: #FAC05C;
border: 2px rgb(89,89,89) solid;
border-radius: 6px;

-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
text-shadow: 1px 1px 1px black;


	
}